<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://192.168.0.1/rzd</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--<property name="cache.use_query_cache">false</property>-->
        <!--<property name="cache.use_second_level_cache">false</property>-->
        <mapping class="logic.model.CarEntity"/>
        <mapping class="logic.model.RoadEntity"/>
        <mapping class="logic.model.RoadTypeEntity"/>
        <mapping class="logic.model.RouteEntity"/>
        <mapping class="logic.model.TrainEntity"/>
        <mapping class="logic.model.CarHistoryEntity"/>
        <mapping class="logic.model.RoadDetEntity"/>
        <mapping class="logic.model.SheduleEntity"/>
        <mapping class="logic.model.SheduleDaysEntity"/>
        <mapping class="logic.model.SheduleTypeEntity"/>
        <mapping class="logic.model.TrainDetEntity"/>
        <mapping class="logic.model.TrainStatusEntity"/>
        <mapping class="logic.model.CarLocationEntity"/>
        <mapping class="logic.model.CarTypeEntity"/>
        <mapping class="logic.model.RepairEntity"/>
        <mapping class="logic.model.RepairTypeEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>